/* Light Theme (Default) */
:root {
    --main-bg-color: #fff;
    --main-text-color: #333;
    --unvisited-link-color: #1566ca;
    --visited-link-color: #78424f;
    --hover-link-color: #b8860b;
    --active-link-color: #ed4e76;
    --icon-color-filter: invert(0%);
    --blockquote-bg-color: #f9f9f9;
    --blockquote-bar-color: #ccc;
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: #202020;
        --main-text-color: #eee;
        --unvisited-link-color: #34baeb;
        --visited-link-color: #7d4c58;
        --hover-link-color: #b8860b;
        --active-link-color: #ed4e76;
        --icon-color-filter: invert(100%);
        --blockquote-bg-color: #303030;
        --blockquote-bar-color: #404040;
    }
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

a { color: var(--unvisited-link-color) }
a:visited { color: var(--visited-link-color) }
a:active { color: var(--active-link-color) }
a:hover { 
    transition: all 0.3s;
    color: var(--hover-link-color) 
}

@media screen and (max-width: 600px) {
    body {
        margin: auto;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (min-width: 750px) {
    body {
        width: 700px;
        margin: auto;
        margin-top: 50px;
    }
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--space);
    margin-block-end: 2rem;
    inline-size: 100%;
    text-align: center;
}

header .home-btn,
.footer-btn {
    color: var(--main-text-color);
    text-decoration: none;

    :hover {
        transition: all 0.3s;
        color: var(--hover-link-color);
    }

    &:visited {
        color: var(--main-text-color);
    }
}

.pic-grid-link {
    color: inherit;
    text-decoration: none;
}

header .title-text,
footer .title-text {
    font-family: verdana;
    font-variant: small-caps;
    font-size: large;
    display: inline;
}

header .title-icon,
footer .title-icon {
    transform: translateY(3px);
    filter: var(--icon-color-filter);
}

header .header-links-separator {
    border: 1px dashed;
}

footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.article-title, .section-title {
    font-family: monospace;
}

.project-title, .social-btn {
    font-family: verdana;
}
 
span {
    font-family: georgia;
}

blockquote {
  background: var(--blockquote-bg-color);
  border-left: 10px solid var(--blockquote-bar-color);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
  display: inline;
  font-style: italic;
}

/*
 * Generic Grids
 */
.grid-max-2col {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-gap: 10px;
    padding: 5px 15px;
}

@media screen and (max-width: 600px) {
    .grid-max-2col {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
}

@media screen and (min-width: 601px) {
    .grid-max-2col {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
    }
}


/*
 * Support picture grids
 */

.pic-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-gap: 10px;
    padding: 5px 15px;
}

.pic-grid-cell > * {
    grid-area: pic-grid-cell;
}

.pic-grid-cell {
   display: grid;
}

.pic-grid-cell-text-overlay {
    /* the overlay text is white on a semi-opaque dark transparency */
    background: rgba(0, 0, 0, 75%);
    color: #fff;
    font-size: 15px;
    /* place the text overlay at the bottom-center of the grid cell */
    place-self: end stretch;
    /* place the text overlay content in the middle of the overlay with a 5by5 px buffer */
    padding: 5px 5px;
    text-align: center;
}

/* N.B. I'd like to get ellipsis for text rather than line breaks but can't quite get it to work 
.pic-grid-cell-text-overlay > .project-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
}
*/

.pic-grid-cell img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

@media screen and (max-width: 600px) {
    .pic-grid {
       grid-template-columns: 50% 50%;
       grid-template-rows: auto auto;
    }
}

@media screen and (min-width: 601px) {
    .pic-grid {
       grid-template-columns: 33% 33% 33%;
       grid-template-rows: auto auto auto;
       width: 700px
    }
}

/*
 * style bulleted list sections
 */
.text-section ul li {
    padding: 0 0 10px 0;
}

/*
 * Blog styles
 */
.footnote {
    font-size: 0.8em;
    color: var(--color-text-footnote);
}

.blog-post-img {
    width: 100%;
}

.post-time {
    font-style: italic;
}

.post-time-container {
    font-size: 0.85em;
    font-family: monospace;
}

.recipe-list ul li {
    margin-bottom: 10px; /* Adjust the value as needed */
}

/* Optional: remove the margin from the very last item if necessary */
.recipe-list ul li:last-child {
    margin-bottom: 0;
}