h1 {
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
    padding: 0;
}

#title-pane {
    display: flex;
    justify-content: space-between;
}

#header-overlay {
    height: 150px;
    padding-top: 2%;
}


body {
    margin: 0;
    vertical-align: middle;
}

header {
    margin: 0;
    width: 100%;
}

section {
    margin: 0;
    width: 100%;
}

.defer {
    display: none;
}

.hide {
    visibility: hidden;
}

.section-with-buffer {
    margin: 0% 15%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.section-with-small-buffer {
    margin: 0% 7%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.bg-blue-lightest {
    background-color: #717cb2;
}
.bg-blue-lighter {
    background-color: #495796;
}
.bg-blue {
    background-color: #303E82;
}
.bg-blue-darker {
    background-color: #1c2a6a;
}
.bg-blue-darkest {
    background-color: #0a164d;
}

#title-pane {
    font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
}

.section-title,
#title-pane {
    font-family: 'Bungee', cursive;
    color: #717CB2;
}

#welcome-text,
.project {
    font-family: 'Josefin Sans', sans-serif;
}

#welcome-text {
    color: #ffffff;
    font-size: 1em;
}

#projects-test-text {
    color: #ffffff;
    font-size: 1em;
}

.project {
    color: #ffffff;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
}

.project_info_frame {
    width: 50%;
}

#projects-subpane {
    padding: 0 1% 1% 1%;
}

#projects-tab-nav {
    padding: 2% 0 0 1%;
}

#project-paginator {
    transform: translateY(-5%);
    display: inline;
    float: right;
    margin-right: 2%;
    color: #ffffff;
}

.project-tab {
    border-radius: 5px 5px 0 0;
    color: #fff;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border: none;
    cursor: pointer;
    padding: 5px 16px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.tab-active {
    background: #717cb2;
    box-shadow: 0 -6px #303E82;
}
.tab-inactive {
    background: #303E82;
    box-shadow: 0 -6px #0a164d;
}
.tab-active:hover,
.tab-inactive:hover {
    transform-origin: 50% 100%;
    transform: scaleY(1.2);
    transition: 0.3s;
}

#prev-page {
    margin-right: 10px;
}
#next-page {
    margin-left: 10px;
}
.social-btn:hover, .social-btn:active,
.project_src:hover, .project_src:active,
.project_doc:hover, .project_doc:active,
.project_liveapp:hover, .project_liveapp:active,
.pagination-btn:hover, .pagination-btn:active {
    color: #0e83cd;
    background: #fff;
}
.social-btn,
.project_src,
.project_doc,
.project_liveapp,
.pagination-btn {
    border: 2px solid #fff;
    color: #fff;
    background: none;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    outline: none;
    transition: all 0.3s;
    box-sizing: border-box;
}

.social-btn,
.project_src,
.project_doc,
.project_liveapp {
    margin: 1%;
    padding: 1%;
    text-decoration: none;
}

.social-btn {
    font-size: 0.5em;
    padding: 0 5% 0 5%;
}

.project_dates {
    font-style: italic;
    font-size: .8em;
    margin-bottom: 1%;
}

.project_description {
    margin-bottom: 1%;
}

.video_embed {
    padding: 0 0 0 5%;
    border: 0;
    float: right;
}

.image_embed {
    /*width: 150px;*/
    height: 150px;
}
