h1 {
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    vertical-align: middle;
}

header {
    margin: 0;
    width: 100%;
}

section {
    margin: 0;
    width: 100%;
}

.section-with-buffer {
    margin: 0% 15%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.bg-blue-lightest {
    background-color: #717cb2;
}
.bg-blue-lighter {
    background-color: #495796;
}
.bg-blue {
    background-color: #303E82;
}
.bg-blue-darker {
    background-color: #1c2a6a;
}
.bg-blue-darkest {
    background-color: #0a164d;
}

#title-pane {
    font-family: 'Bungee', cursive;
    font-size: 1.5em;
    color: #717CB2;
}

h2.section-title {
    font-family: 'Bungee', cursive;
    font-size: 1.25em;
    color: #717CB2;
}

#welcome-text {
    color: #FFFFFF;
    font-size: 1em;
}

#projects-test-text {
    color: #FFFFFF;
    font-size: 1em;
}

#projects-pane {
}

#projects-subpane {
    padding: 1%;
}

#projects-tab-nav {
    padding: 1%;
}
