{% import 'macros.jinja' as macros %}
<h1>{{index_title}}</h1>

<section>
    {%- if pages|length > 0 -%}
    <ul>
        {% for page in pages %}
        <li class="h-entry">
            <a href="{{ page['read'] }}" class="project-title p-name">{{ page['title'] }}</a>
            {%- if 'pswd' in page -%}
            <span>🔒</span>
            {%- endif -%}
            <br >
            <span><i>
                <time class="dt-published" datetime="{{ page['pub_datetime'] }}">
                {{ macros.select_display_date(page) }}
                </time>
            </i></span>
        </li>
        {% endfor %}
    </ul>
    {%- else -%}
    <p>No "{{index_title}}" pages</p>
    {%- endif -%}
</section>