<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  
  <!-- FEED METADATA -->
  <title>Scott Munro</title>
  <subtitle>One stop shop for all of my nonsense</subtitle>
  <link href="http://scottnm.com/atomfeed.xml" rel="self"/>
  <link href="http://scottnm.com/"/>
  <icon>/site_images/icon/atomfeedicon.png</icon>
  <updated>2022-10-02T00:11:00Z</updated>
  <id>urn:uuid:bfae4b33-aa4e-48a6-96b7-09e66d905159</id>
  <author>
    <name>Scott Munro</name>
  </author>

  <!-- FEED ENTRIES -->
  {% for entry in entries %}
  <entry>
    <title>{{entry.title}}</title>
    <link href="https://www.scottnm.com/{{entry.link}}" />
    <id>urn:uuid:{{entry.uuid}}</id>
    <updated>{{entry.lastupdate_datetime}}</updated>
    <summary>{{entry.description}}</summary>
  </entry>
  {% endfor %}

</feed>
