<section id="welcome-section">
    <h2 class="section-title">Welcome</h2>
    <p>
        <span id="welcome-text" class="p-note">{{welcome_text}}</span>
    </p>
    <p>
        Sign the <a href="https://scottnm.atabook.org/" style="text-decoration-style: dotted;">guestbook</a>!
    </p>
</section>
<section id="jump-section" class="text-section">
    <h3 class="section-title">Jump to...</h3>
    <ul>
        <li><a href="#highlights-section">highlights</a></li>
        <li><a href="#projects-section">projects</a></li>
        <li><a href="#textposts-section">text posts</a></li>
    </ul>
</section>

{%- macro select_link(project) -%}
    {%- if 'liveapp' in project -%} {{ project['liveapp'] }}
    {%- elif 'src' in project -%}   {{ project['src'] }}
    {%- elif 'doc' in project -%}   {{ project['doc'] }}
    {%- elif 'video' in project -%} {{ project['video'] }}
    {%- else -%}                    {{ project['read'] }}
    {%- endif -%}
{%- endmacro -%}

<section id="highlights-section">
    <h2 class="section-title">Highlights</h2>
    <div class="pic-grid">
        {% for highlight in highlights %}
        <a href="{{ select_link(highlight) }}" class="pic-grid-link u-url">
            <div class="pic-grid-cell h-entry">
                <img class="pic-grid-cell-image" src="/{{ highlight['image'] }}" alt="" loading="lazy" >
                <div class="pic-grid-cell-text-overlay"><span class="project-title p-name">{{ highlight['title'] }}</span></div>
            </div>
        </a>
        {% endfor %}
    </div>
</section>

{# FIXME: consider coalescing projects and text posts #}
{# FIXME: retro-write blog posts for image only projects #}
<section id="projects-section" class="text-section">
    <h2 class="section-title">Projects</h2>
    <ul>
        {% for project in projects %}
        <li class="h-entry">
            <a class="project-title u-url p-name" href="{{ select_link(project) }}" target="_blank">{{ project['title'] }}</a>
            <br >
            <span><i>
                <time class="dt-published" datetime="{{ project['pub_date'] }}">{{ project['display_date'] }}</time>
            </i></span>
            <br >
            <span class="p-summary">{{ project['description'] }}</span>
            <br >
            <span>Tools: {{ project['tools'] }}</span>
        </li>
        {% endfor %}
    </ul>
</section>

<section id="textposts-section" class="text-section">
    <h2 class="section-title">Text Posts</h2>
    <ul>
        {% for text_post in text_posts %}
        <li class="h-entry">
            <a href="{{ text_post['read'] }}" class="project-title p-name">{{ text_post['title'] }}</a>
            <br >
            <span><i>
                <time class="dt-published" datetime="{{ text_post['pub_date'] }}">{{ text_post['display_date'] }}</time>
            </i></span>
            <br >
            <span class="p-summary">{{ text_post['description'] }}</span>
        </li>
        {% endfor %}
    </ul>
</section>

<hr >
<div class="footer">
    <span aria-labelledby="kthxbai-read">kthxbai</span>
    <span id="kthxbai-read" hidden>k, thanks, bye.</span>
</div>