<script src="/site_scripts/pswd_locked_page.js" async></script>
<p>Post is locked.</p>
<p>Enter password to unlock.</p>
<form onsubmit="event.preventDefault(); pswd_locked_page.unlock_page();">
  <input type="text" id="password-field" placeholder="<password>">
  <button type="submit">unlock</button>
</form>
<span id="password-fail-text" style="color: red" hidden>Password FAILED</span>

<span id="ciphertext-b64" hidden>{{ base64_ciphertext }}</span>
<span id="cipher-salt-b64" hidden>{{ base64_salt }}</span>
<span id="cipher-iv-b64" hidden>{{ base64_iv }}</span>