beautifulsoup4==4.14.3
certifi==2025.4.26
cffi==2.0.0
charset-normalizer==3.4.2
commonmark==0.9.1
commonmarkextensions==0.0.6
cryptography==46.0.3
html2text==2025.4.15
html5lib==1.1
idna==3.10
Jinja2==3.1.6
Markdown==3.8
MarkupSafe==3.0.2
mf2py==2.0.1
pycparser==2.23
requests==2.32.4
six==1.17.0
soupsieve==2.7
types-Markdown==3.8.0.20250415
typing_extensions==4.13.2
urllib3==2.6.3
webencodings==0.5.1
