<article class="h-entry">
    <h1 class="article-title p-name">
        {{ title }}
    </h1>

    <span class="post-time-container">
        [ <time class="dt-published post-time" datetime="{{ pub_date }}">
            {%- if display_date -%} {{ display_date }} {%- else -%} {{ pub_date }} {%- endif -%}
        </time> ]
    </span>

    <div class="e-content">
        {{ post_content | safe | indent | indent | indent }}
    </div>
</div>