<h1>Unlisted Pages</h1>

{%- macro select_display_date(page) -%}
    {%- if 'display_date' in page -%} {{ page['display_date'] }}
    {%- else -%} {{ page['pub_date'] }}
    {%- endif -%}
{%- endmacro -%}

<section>
    {%- if pages|length > 0 -%}
    <ul>
        {% for page in pages %}
        <li class="h-entry">
            <a href="{{ page['read'] }}" class="project-title p-name">{{ page['title'] }}</a>
            <br >
            <span><i>
                <time class="dt-published" datetime="{{ page['pub_date'] }}">
                {{ select_display_date(page) }}
                </time>
            </i></span>
        </li>
        {% endfor %}
    </ul>
    {%- else -%}
    <p>No unlisted pages</p>
    {%- endif -%}
</section>