<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" type="image/svg+xml" href="/site_images/icon/icon.svg">
    <link rel="stylesheet" href="redesign_styles.css" />

    <title>scottnm</title>
    <meta name="description" 
        content="Scott Munro's little corner of the internet: a lightly pruned archive of programming projects, journals, and other junk. It's a one-man flea market where nothing's for sale.">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
    <header>
        <div id="header-pane" class="section-with-buffer">
            <div id="header-with-links-container">
                <a class="home-btn" href="/">
                    <h1 class="title-text">Scott Munro</h1>
                    <img class="title-icon" src="/site_images/icon/icon.svg" alt="" loading="lazy" width="20" height="20"/>
                </a>
                <hr class="header-links-separator" />
                <a class="social-btn" href="https://github.com/scottnm" title="check out my code on github"
                    target="_blank">github</a>
                <span> | </span>
                <a class="social-btn" href="/atomfeed.xml" title="subscribe via atom/rss feeds" rel="subscribe-rss"
                    target="_blank">rss</a>
                <span> | </span>
                <a class="social-btn" href="mailto:me@scottnm.com" title="shoot me an email">email</a>
                <span> | </span>
                <a class="social-btn" href="https://linkedin.com/in/scott-munro" title="connect with me on linkedin"
                    target="_blank">linkedin</a>
            </div>
        </div>
    </header>
    <main>
        <section id="welcome-section">
            <h2 class="section-title">Welcome</h2>
            <p>
                <span id="welcome-text">{{welcome_text}}</span>
            </p>
        </section>
        <section id="jump-section" class="text-section">
            <h3 class="section-title">Jump to...</h3>
            <ul>
                <li><a href="#highlights-section">highlights</a></li>
                <li><a href="#projects-section">projects</a></li>
                <li><a href="#textposts-section">text posts</a></li>
            </ul>
        </section>

        {%- macro select_link(project) -%}
            {%- if 'liveapp' in project -%} {{ project['liveapp'] }}
            {%- elif 'src' in project -%}   {{ project['src'] }}
            {%- elif 'doc' in project -%}   {{ project['doc'] }}
            {%- elif 'video' in project -%} {{ project['video'] }}
            {%- else -%}                    {{ project['read'] }}
            {%- endif -%}
        {%- endmacro -%}

        <section id="highlights-section">
            <h2 class="section-title">Highlights</h2>
            <div class="pic-grid">
                {% for highlight in highlights %}
                <a href="{{ select_link(highlight) }}" class="pic-grid-link">
                    <div class="pic-grid-cell">
                        <img class="pic-grid-cell-image" src="/{{ highlight['image'] }}" alt="" loading="lazy" />
                        <div class="pic-grid-cell-text-overlay"><span class="project-title">{{ highlight['title'] }}</span></div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </section>

        {# FIXME: consider coalescing projects and text posts #}
        {# FIXME: retro-write blog posts for image only projects #}
        <section id="projects-section" class="text-section">
            <h2 class="section-title">Projects</h2>
            <ul>
                {% for project in projects %}
                <li>
                    <a class="project-title" href="{{ select_link(project) }}" target="_blank">{{ project['title'] }}</a>
                    <br />
                    <span><i>{{ project['dates'] }}</i></span>
                    <br />
                    <span>{{ project['description'] }}</span>
                    <br />
                    <span>Tools: {{ project['tools'] }}</span>
                </li>
                {% endfor %}
            </ul>
        </section>

        <section id="textposts-section" class="text-section">
            <h2 class="section-title">Text Posts</h2>
            <ul>
                {% for text_post in text_posts %}
                <li>
                    <a href="{{ text_post['read'] }}" class="project-title">{{ text_post['title'] }}</a>
                    <br />
                    <span><i>{{ text_post['dates'] }}</i></span>
                    <br />
                    <span>{{ text_post['description'] }}</span>
                </li>
                {% endfor %}
            </ul>
        </section>

        <hr />
        <section class="footer">
            <span aria-label="kay thanks bye">kthxbai</span>
        </section>
    </main>
</body>

</html>