name: Verify site in-sync

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    environment: github-pages
    steps:
    - uses: actions/checkout@v4
    - name: run sitegen
      env:
        SAMPLE_POST_PSWD_ENV_KEY: ${{ secrets.SAMPLE_POST_PSWD_ENV_KEY }}
        DRAFT_POST_PSWD: ${{ secrets.DRAFT_POST_PSWD }}
      run: npm install -g @biomejs/biome@2.3.11 && pip install -r ./sitegen/requirements.txt && python ./sitegen/gen.py
    - name: check for diffs
      run: git diff --exit-code
